absl-py==0.11.0
alabaster==0.7.12
asgiref==3.3.1
astroid==2.5.1
astunparse==1.6.3
autopep8==1.5.7
Babel==2.9.1
beautifulsoup4==4.9.3
bs4==0.0.1
cachetools==4.2.1
certifi==2020.12.5
chardet==4.0.0
colorama==0.4.4
cycler==0.10.0
dill==0.3.4
Django==3.1.7
docutils==0.17.1
flatbuffers==1.12
gast==0.3.3
google-auth==1.24.0
google-auth-oauthlib==0.4.2
google-pasta==0.2.0
grpcio==1.32.0
h5py==2.10.0
html5lib==1.1
idna==2.10
imagesize==1.2.0
iso8601==0.1.14
isort==5.8.0
Jinja2==3.0.1
joblib==1.0.0
Keras==2.4.3
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
lazy-object-proxy==1.6.0
m3u8==0.8.0
Markdown==3.3.3
MarkupSafe==2.0.1
matplotlib==3.2.0
mccabe==0.6.1
mysql-connector-python==8.0.23
numpy==1.19.3
numpydoc==1.1.0
oauthlib==3.1.0
opt-einsum==3.3.0
packaging==20.9
pandas==1.2.0
Pillow==8.1.0
protobuf==3.14.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.7.0
Pygments==2.9.0
pylint==2.7.2
pyparsing==2.4.7
python-dateutil==2.8.1
python-vlc==3.0.11115
pytz==2020.5
PyYAML==5.4.1
requests==2.25.1
requests-oauthlib==1.3.0
rsa==4.7
schedule==0.6.0
scikit-learn==0.24.1
scipy==1.6.0
six==1.15.0
sklearn==0.0
snowballstemmer==2.1.0
soupsieve==2.1
Sphinx==4.0.2
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sqlparse==0.4.1
tensorboard==2.4.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.4.1
tensorflow-estimator==2.4.0
tensorflow-gpu==2.4.1
termcolor==1.1.0
threadpoolctl==2.1.0
tick==0.7.0.1
toml==0.10.2
torch==1.9.0+cu111
torchaudio==0.9.0
torchvision==0.10.0+cu111
tornado==6.0.4
typing-extensions==3.7.4.3
urllib3==1.26.2
webencodings==0.5.1
Werkzeug==1.0.1
wrapt==1.12.1
